<html>
<head>
	<title> <%= @title %> </title>
	 <%= csrf_meta_tag %>
	 <%= stylesheet_link_tag 'public/stylesheets/screen.css', :media => 'screen' %>
	 <%= stylesheet_link_tag 'public/stylesheets/print.css',  :media => 'print' %>
	<%= stylesheet_link_tag 'public/stylesheets/ie.css',  :media => 'print' %>
	</head>
	<body>
 <%= yield %>
</body>
</html>
